{% include 'header.html' %}

<div class="container">
    <div class="row">
        {% for item in POKEAPI %}
        <div class="pokemon col-3 border border-warning ">
            <br>
            <div class="fotos d-flex justify-content-center align-items-center rounded">
                <img src="{{ item.foto }}" alt="" height="150px"><img src="{{ item.foto_emerald }}" alt="" height="100px">
            </div>
            <h2 class="d-flex justify-content-center align-items-center">{{ item.nombre.upper() }}</h2>
            <div class="divboton d-flex justify-content-center align-items-center">
                <a type="button" class="btn btn-primary " href="{{ item.url }}">GO TO {{ item.nombre.capitalize() }}</a>
            </div>
            <br>
        </div>
        {% endfor %}
    </div>
</div>
<br>
<div class="botones_nav d-flex justify-content-center align-items-center">
    {% if nav[0].previous != None  %}
        <a type="button" class="btn btn-primary " href="{{ url_for('pokeindex2',url=nav[0].previous) }}">GO BACK</a>
    {% endif %}
    {% if nav[0].next != None  %}
        <a type="button" class="btn btn-primary " href="{{ url_for('pokeindex2',url=nav[0].next) }}">GO NEXT</a>
    {% endif %}
</div>

{% include 'footer.html' %}